@font-face {
  font-family: "Pretendard";
  src: url("../fonts/PretendardVariable.ttf") format("truetype");
}

@font-face {
  font-family: "EF_jejudoldam";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

html:-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

body {
  background-image: linear-gradient(
    120deg,
    #ffecd2 0%,
    #fcb69f 100%
  ) !important;
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Pretendard";
}

.App h1 {
  font-family: "EF_jejudoldam";
  color: white;
  text-shadow: -1px 0px #333, 0px 1px #333, 1px 0px #333, 0px -1px #333;
  font-size: 50px;
  margin: 0;
  padding: 50px 0;
}

.css-k008qs {
  padding: 0 100px;
  gap: 30px;
}

.react-calendar {
  border: none;
  font-family: "Pretendard";
  width: 50%;
  height: 700px;
  padding: 30px;
  background: linear-gradient(
    135deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0.3) 30%
  );
  border-radius: 50px;
  border: solid 1px var(--color-gray);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 4px 34px rgba(0, 0, 0, 0.15);
}

.react-calendar__navigation__label__labelText {
  font-family: "Pretendard";
  font-weight: bold;
  font-size: 20px;
}

.react-calendar__tile {
  padding: 10px;
  background: none;
  border-radius: 10px;
  border: 1px solid #ddd;
  height: 110px;
  position: relative;
}

.react-calendar__tile:enabled:hover {
  background: none;
  font-weight: bold;
  color: #000;
}

.react-calendar__tile--active {
  background: #ff891b !important;
  border-radius: 10px;
}

.react-calendar__tile--now {
  background: #ffcc93;
  border-radius: 10px;
}

.react-calendar__month-view__days__day--weekend {
  color: #d9534f;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: none;
}

.css-j7qwjs {
  width: 50%;
  background: linear-gradient(
    135deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0.3) 30%
  );
  border-radius: 50px;
  border: solid 1px var(--color-gray);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 4px 34px rgba(0, 0, 0, 0.15);
  padding: 50px;
  display: flex;
  flex-direction: column;
  height: 600px;
}

.css-j7qwjs h2 {
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
}

.css-j7qwjs textarea {
  width: 100%;
  height: 400px;
  background: none;
  border: none;
  resize: none;
  margin-bottom: 20px;
  font-size: 17px;
  font-family: "Pretendard";
  flex-grow: 1;
  margin-bottom: 10px;
}

.css-j7qwjs button {
  background: #ff891b;
  color: white;
  font-family: "Pretendard";
  font-weight: bold;
  border-radius: 30px;
  border: none;
  height: 40px;
  cursor: pointer;
  width: 100%;
}

.css-j7qwjs .save_btn {
  background: #ff891b;
  color: white;
  font-family: "Pretendard";
  font-weight: bold;
  border-radius: 30px;
  border: none;
  height: 40px;
  cursor: pointer;
  width: 50%;
  font-size: 14px;
}

.css-j7qwjs .custom-file-upload {
  background: #ff891b;
  color: white;
  font-family: "Pretendard";
  font-weight: bold;
  border-radius: 30px;
  border: none;
  height: 40px;
  cursor: pointer;
  width: 50%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.css-k008qs img {
  width: 70px;
  margin: 20px 0;
  cursor: pointer;
}

.css-j7qwjs .css-k008qs {
  width: 100%;
  padding: 0;
  margin-top: auto;
}

.entry-dot {
  background-color: none;
  border: 1px solid #ff891b;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: 10% auto;
  padding: 20px;
  width: 50%;
  max-width: 600px;
  position: relative;
}

.modal-content img {
  width: 100%;
}

.close-button {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
